* {
	padding: 0;
	margin: 0;
}

.container {
}
.home {
	height: 1100px;
	width: 100%;
	background-color: #2b2b2b;
}

.header {
	height: 60px;
	width: 100%;
	display: flex;
}
.header-left {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	padding-left: 100px;
}
.header-left div:last-child {
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 1.5px;
}

.header-right {
	height: 100%;
	width: 50%;
}
.header-left .image-container {
	width: 60px;
	height: 30px;

	border-radius: 30px;
	margin-right: 10px;
}
.header-left .image-container .c-image {
	border-radius: 30px;
}
.list-container {
	height: 100%;
	width: 100%;
}
.list-container ul {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.list-container ul li {
	margin-right: 20px;
	list-style-type: none;
}
.list-container ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.2px;
}
.list-container ul li a:hover {
	color: orange;
	cursor: pointer;
}

.sub-container {
	height: 940px;
	width: 100%;
	display: flex;
}

.sub-container-left {
	height: 100%;
	width: 50%;
	background-color: #2b2b2b;
}

.sub-container-right {
	height: 100%;
	width: 50%;
	background-image: url('./hero.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.container-bio {
	height: 75%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-bio p {
	padding-bottom: 15px;
}
.container-bio p:nth-of-type(1) {
	color: #e1e1e1;
	font-size: 25px;
}
.container-bio p:nth-of-type(2) {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}
.container-bio p:nth-of-type(3) {
	color: #e1e1e1;
	font-size: 25px;
}
.container-bio button {
	width: 150px;
	height: 35px;
	background-color: green;
	border-width: 0;
	border-radius: 5px;
	color: #fff;
}
.container-bio-detail {
	height: 25%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-bio-detail .container-bio-detail-first {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-bio-detail-first div {
	color: #fff;
	margin-right: 30px;
	border-right: 1.5px solid #aaa;
	padding-right: 20px;
}
.container-bio-detail-first div p {
	padding-bottom: 10px;
	font-size: 20px;
}
.container-bio-detail-first div span {
	color: #bbb;
	font-size: 18px;
}
.container-bio-detail-first div:last-child {
	border-right: 0;
}
